[Desktop Entry]
Name=Mutella
Name[pl]=Mutella
Comment=Commandline Gnutella servent
Comment[pl]=Tekstowy klient sieci Gnutella
Icon=mutella
Exec=mutella
Terminal=true
Type=Application
Categories=Network;
# vi: encoding=utf-8
