[Desktop Entry]
Encoding=UTF-8
Name=Mutella
Name[pl]=Mutella
Comment=Commandline Gnutella servent
Comment[pl]=Tekstowy klient sieci Gnutella
Icon=mutella.png
Exec=mutella
Terminal=1
Type=Application
Categories=Application;Network;
# vi: encoding=utf-8
